#─FOLDERS─────────────────────────────────────────────────────
venv/*
archive/*
.vscode/*

#─FILES───────────────────────────────────────────────────────
*_checkpoints

#to make local files for experiment
*local*

#─EXCEPTIONS───────────────────────────────────────────────────────
# --
#─────────────────────────────────────────────────────────────