#─FOLDERS─────────────────────────────────────────────────────
venv/*
archive/*
.vscode/*

#─FILES───────────────────────────────────────────────────────
*_checkpoints
*.png

#to make local files for experiment
*local*
*copy*

#─EXCEPTIONS───────────────────────────────────────────────────────
# --
#─────────────────────────────────────────────────────────────