#─FOLDERS─────────────────────────────────────────────────────
venv/*
archive/*

#─FILES───────────────────────────────────────────────────────
Manifest.toml
*_checkpoints

#to make local files for experiment
*local*

#─EXCEPTIONS───────────────────────────────────────────────────────
# --
#─────────────────────────────────────────────────────────────